html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff url('../img/geometry2.png');
  /* Background pattern from Subtle Patterns */
  font-family: 'Coda', cursive;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid black;
  padding: 0px;
  margin: 0px;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

/*
 * Styles for the deck of cards
 */
.deck {
  width: 550px;
  height: 550px;
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  padding: 2.1%;
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 3em;
}

.deck .card {
  height: 100px;
  width: 100px;
  margin-bottom: 3%;
  background: #2e3d49;
  font-size: 0;
  border: 2px solid black;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
  transform: rotateY(0);
  background: #02b3e4;
  cursor: default;
}

.deck .card.show {
  font-size: 33px;
}

.deck .card.match {
  cursor: default;
  background: #02ccba;
  font-size: 33px;
}

.deck .card.unmatched {
  background: Maroon;
  curser: default;
}

.deck .card.disabled {
  pointer-events: none;
}

/*
 * Styles for the Score Panel
 */
.score-panel {
  text-align: left;
  width: 36.5%;
  margin-bottom: 10px;
}

.score-panel .stars {
  margin: 0;
  padding: 0;
  margin-right: 2%;
  display: inline-block;
}

.moves {
  margin-right: 0px;
  margin-left: 10%;
  padding-left: 0px;
}

.score-panel .stars li {
  list-style: none;
  display: inline-block;
}

.score-panel .restart {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 8px;
  float: right;
  cursor: pointer;
}

/*star color*/
.fa-star {
  color: purple;
}

/*timer layout*/
.timer {
  display: inline-block;
  margin: 2px;
  padding-left: 20px;
}

/*styling for congratulation modal when game is Over*/
.message {
  position: fixed;
  background: rgba(0, 75, 255, 0.4);
  transition: opacity 450ms;
  visibility: hidden;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.showup {
  margin: 72px;
  padding: 21px;
  background: #fff;
  border-radius: 25px;
  width: 88%;
  position: relative;
  font-family: Impact;
}

.showup h2 {
  font-family: Impact;
}

.showup .close {
  position: absolute;
  top: 21px;
  right: 32px;
  transition: all 200ms;
  font-size: 32px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.showup .congratulation, .stats {
  max-height: 50%;
  overflow: auto;
  text-align: center;
}

.show {
  visibility: visible;
  opacity: 100;
}

.message h2 {
  text-align: center;
  font-family: Impact;
}

header {
  border: 5px solid Maroon;
  border-radius: 25px;
  width: 36.5%;
  text-align: center;
  background-color: Plum;
  margin-bottom: 3px;
}

header h1 {
  margin: 0px;
  border: 4px solid grey;
  font-family: Impact;
  border-radius: 25px;
}

#star-rating li {
  display: inline-block;
}

#play-again {
  font-family: Impact;
  border-radius: 5px;
  background-color: #96beff;
  color: #ffffff;
  padding: 10px;
  font-size: 30px;
  display: block;
  margin: auto;
  width: auto;
}

@media screen and (max-width: 600px) {
  .score-panel {
    text-align: left;
    width: 380px;
    margin-bottom: 10px;
    font-size: 1.3em;
  }

  .deck {
    width: 400px;
    min-height: 420px;
    padding: 20px;
  }

  header {
    width: auto;
  }

  .deck .card {
    height: 80px;
    width: 80px;
  }

  .deck .card.show {
    font-size: 18px;
  }

  @media screen and (max-width: 450px) {
    .material-icons {
      font-size: 24px;
    }

    .deck {
      width: 300px;
      min-height: 310px;
      box-shadow: 6px 7px 10px 0 rgba(46, 61, 73, 0.5);
      padding: 10px;
    }

    .deck .card {
      height: 60px;
      width: 60px;
    }

    .deck .card.show {
      font-size: 18px;
    }

    header {
      width: auto;
    }

    .score-panel {
      padding: 0 0 0 1em;
    }

    .score-panel {
      text-align: left;
      width: 280px;
      margin-bottom: 10px;
      font-size: 1em;
    }

    .score-panel .restart {
      float: right;
      cursor: pointer;
    }

    .score-panel .timer {
      margin-left: 3em;
    }
